{% extends "app/base.html" %}

{% block content %}

<div class="">
    <h1>Hello World!!</h1>
</div>
<div id="" class="">
    <div class="">
        <div class="slick-track" style="opacity: 1; width: 2676px;">
            <p class=""  style="width: 892px; .relative; left: 0px; top: 0px; z-index: 998; opacity: 0; transition: opacity 2000ms ease 0s;">
                <span>
                    <img src="/images/wowow.png" alt="">
                </span>
            </p>
        </div>
    </div>
    
    
  </div>

{% endblock %}