{% load static %}

<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="{% static 'css/style.css' %}"> -->
    <title>VR Rev.</title>
</head>

<body class="flex flex-col min-h-screen bg-gray-800">
    <div class="bg-white">
        <a href="/" class="">
            <img src="{% static 'images/VR_Rev.2.png' %}" alt="VR Rev." class="h-20 relative ">
            <span class="text-3xl absolute left-20 top-4">VR Rev.</span>
        </a>
    </div>
    <nav class="flex justify-end h-20 z-20 items-center space-x-4 bg-white text-xl">
        <div>
            <a class="" href="/">ホーム</a>
        </div>
        <div>
            <a class="" href="{% url 'Concept' %}">コンセプト</a>
        </div>
        <div>
            <a class="" href="{% url 'Blog' %}">ブログ</a>
        </div>

        <div>
            <a class="" href="https://pcgameingshop.myshopify.com/?key=6abdc476a99497082b1aae32a86b08214eb0df11b465b292043e8878835101b7">ショップ</a>
            <i class="fas fa-external-link-alt"></i>
        </div>

        <div>
            <a class="" href="{% url 'contact' %}">お問い合わせ</a>
        </div>

        {% if user.is_authenticated %}
        <div>
            <a class="" href="{% url 'account_logout' %}">ログアウト</a>
        </div>
        {% else %}
        <div>
            <a class="" href="{% url 'account_signup' %}">会員登録</a>
        </div>
        <div class="pr-8">
            <a class="" href="{% url 'account_login' %}">ログイン</a>
        </div>
        {% endif %}
    </nav>

    <main class="flex-1">
        <div class="">
            {% block content %}
            {% endblock %}
        </div>
    </main>

    <footer class="text-white">
        <div class="flex justify-center ">
            <img class="h-32" src="{% static 'images/VR_Rev.2.png' %}">
        </div>
        <div class="flex space-x-4 m-4 text-white">
            <a href="{% url 'question' %}">よくあるご質問</a>
            <a href="{% url 'privacy' %}">プライバシーポリシー</a>
           
        </div>
        <div class=" text-center text-white pb-8">
            <a >Copyright &copy; VR Rev</a>
        </div>
    </footer>

    {% block extra_js %}
    {% endblock %}

</body>

</html>