{% load static %}

<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>VR Rev.</title>
</head>

<body class="flex flex-col min-h-screen">
    <nav class="flex justify-end h-20 z-20 items-center space-x-4">
        <div>
            <a class="" href="/">HOME</a>
        </div>
        <div>
            <a class="" href="{% url 'Concept' %}">CONCEPT</a>
        </div>
        <div>
            <a class="" href="{% url 'Blog' %}">BLOG</a>
        </div>
        <div>
            <a class="" href="{% url 'Account' %}">ACCOUNT</a>
        </div>
        <div>
            <a class="" href="{% url 'contact' %}">CONTACT</a>
        </div>

        {% if user.is_authenticated %}
        <div>
            <a class="" href="{% url 'account_logout' %}">ログアウト</a>
        </div>
        {% else %}
        <div>
            <a class="" href="{% url 'account_signup' %}">サインアップ</a>
        </div>
        <div class="pr-8">
            <a class="" href="{% url 'account_login' %}">ログイン</a>
        </div>
        {% endif %}
    </nav>

    <main class="flex-1">
        <div class="bg-gray-800">
            {% block content %}
            {% endblock %}
        </div>
    </main>

    <footer class="">
        <div class="flex justify-center ">
            <img class="h-32" src="../static/images/VR Rev.2.png">
        </div>
        <div class="flex space-x-4 m-4">
            <a href="/">CONTACT</a>
            <a href="/">よくあるご質問</a>
            <a href="/">プライバシーポリシー</a>
        </div>
    </footer>

    {% block extra_js %}
    {% endblock %}

</body>

</html>