{% extends "app/base.html" %}

{% block content %}
<div class="container lg:max-w-4xl mx-auto">
    {% for post in post_data %}
        {% if forloop.last %}
            <div class="bg-white">
        {% else %}
            <div class="bg-white mb-10 ">
        {% endif %}
            <a href="{% url 'post_detail' post.id %}">
                <div class="relative">
                    {% if post.image %}
                        <img class="w-full h-96 object-cover cursor-pointer"  src="{{ post.image.url }}" alt="">
                    {% endif %}
                    <div class="absolute bottom-0 right-0 ">
                        <div class="bg-yellow-400 text-2xl p-3 m-4">
                            {{post.category}}
                        </div>
       
                    </div>
                </div>
            </a>

            <div class="p-3">
                <p>
                    日付:{{ post.created|date }} 
                </p>
                <h2>
                    {{ post.title }}
                </h2>
                <p>
                    {{ post.content|truncatechars:100 }}
                </p>
                <a href="{% url 'post_detail' post.id %}">
                    <button class="bg-blue-500">続きを読む</button>
                </a>
            </div>
            
    
        </div>
        
    {% endfor %}
</div>
<!--
<div class="container mx-auto box border text-center">
    <div class="">
        <div class="box border">
            {% for post in post_data %}
                <div class="bg-white  box border">
                    <h2 class="card-title">{{ post.title }}</h2>
                    <p class="card-text">{{ post.content|truncatechars:100 }}</p>
                    <button class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">
                        詳細
                    </button>
                </div>
                <div class="bg-white">
                    {{ post.created|date }} by {{ post.author }}
                </div>
                {% if post.image %}
                    <img class="content-center" src="{{ post.image.url }}" alt="">
                {% endif %}
                <a class="stretched-link" href="{% url 'post_detail' post.id %}"></a>
            {% endfor %}
        </div>
    </div>
</div>

-->
{% endblock %}
