{% extends "app/base.html" %}
{% load static %}

{% block content %}

<div class="text-white text-center p-8">
    <h1>当社のビジョン</h1>
</div>
<div class="">
    <div class="">
            <span>
                <img src="../static/images/wowow.png">
            </span>
    </div>
</div>


<div class="text-white text-center p-8">
    <h1>人生を変える瞬間を届ける</h1>
</div>
<div class="">
    <div class="">
            <span>
                <img src="../static/images/人生を変える瞬間を届ける.png">
            </span>
    </div>
</div>

<div class="text-white text-center p-8">
    <h1>見る感動</h1>
</div>
<div class="">
    <div class="">
            <span>
                <img src="../static/images/見る感動.png">
            </span>
    </div>
</div>

<div class="text-white text-center p-8">
    <h1>学ぶ感動</h1>
</div>
<div class="">
    <div class="">
            <span>
                <img src="../static/images/学ぶ感動1.png">
            </span>
    </div>
</div>

<div class="text-white text-center p-8">
    <h1>遊ぶ感動</h1>
</div>
<div class="">
    <div class="">
            <span>
                <img src="../static/images/asobukandou.png">
            </span>
    </div>
</div>

{% endblock %}