{% extends "app/base.html" %}
{% load static %}

{% block content %}

<div class="text-white text-center container  mx-auto text-5xl ">
    <h1 class="pb-20">当社のビジョン</h1>
    <div class="">
        <span>
            <img class="w-full object-cover h-auto" src="../static/images/wowow.png">
        </span>
    </div>

    <h1 class="p-20">人生を変える瞬間を届ける</h1>
    <div class="relative">
        <span>
            <img class="w-full object-cover h-auto" src="../static/images/人生を変える瞬間を届ける.png">
        </span>
        <p class="absolute  top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2  m-auto text-black">Entire house</p>
    </div>

    <h1 class="p-20">見る感動</h1>
    <div class="">
        <span>
            <img class="w-full object-cover h-auto" src="../static/images/見る感動.png">
        </span>
    </div>

    <h1 class="p-20">学ぶ感動</h1>
    <div class="">
        <span>
            <img class="w-full object-cover h-auto" src="../static/images/学ぶ感動1.png">
        </span>
    </div>

    <h1 class="p-20">遊ぶ感動</h1>
    <div class="">
        <span>
            <img class="w-full object-cover h-auto" src="../static/images/asobukandou.png">
        </span>
    </div>
</div>

{% endblock %}