{% extends "app/base.html" %}
{% load static %}
{% block content %}

<!-- <div class="absolute top-0 right-0 z-10"> -->
<div class="">
    <img class="w-full  object-cover" src="../static/images/topdesign.png"style="height:600px">
</div>
<!--  
<div class="z-0">
    <img class="" src="../static/images/Letsjumpin.png">
</div>
-->

<div class="grid grid-cols-3 gap-4">
    <div class="col-span-2">
        <img class="relative" src="../static/images/topdesign.png"style="height:600px">
    </div>
</div>
<div class="absolute right-0 p-8">
    <div class="">
        <li class="text-3xl border p-8">
            <a href="/news/goldman-sachs-analysts-divided-over-whether-bitcoin-is-an-investable-asset-class" class="editors-choice-widget__link"> 
                スティーブン・スピルバーグ監督が贈る、今から27年後の世界は現実になりつつある。ゴーグル一つですべての夢が実現する新世代のVRワールド「オアシス」。食べたり眠ったりトイレに行く以外はすべてVRワールドで過ごす、そんな未来がすぐそこまで迫っている! 
            </a>
        </li>
    </div>
</div>


<div class="absolute right-0 p-8">
    <div class="object-left">
        <a class="text-3xl border p-8"> 
            ソードアート・オンラインといえば仮想空間へフルダイブするVRMMORPG。IBM技術によって現実となりつつある。 
        </a>
    </div>
</div>
<div class="grid grid-cols-3 gap-4">
    <div class="col-span-2">
        <img class="m-8 " src="../static/images/01.jpg"style="height:900px">
    </div>
</div>

<div>
    <div class="m-14">
        <title>製品一覧</title>
        <div class="flex cursor-pointer">
            <div class="flex-1">
                <a href="https://pcgameingshop.myshopify.com/?key=6abdc476a99497082b1aae32a86b08214eb0df11b465b292043e8878835101b7">

                </a>
                <img  src="{% static/images/alienware.png">
            </div>
            <div class="flex-1">
                <img href="https://pcgameingshop.myshopify.com/?key=6abdc476a99497082b1aae32a86b08214eb0df11b465b292043e8878835101b7" src="../static/images/マウス.png">
            </div>
            <div class="flex-1 ...">
                <img href="https://pcgameingshop.myshopify.com/?key=6abdc476a99497082b1aae32a86b08214eb0df11b465b292043e8878835101b7" src="../static/images/モニター.png">
            </div>
          </div>
          <div class="text-center">
            <button class="bg-white hover:bg-blue-500 text-black font-semibold hover:text-white py-2 px-4  m-8 border border-black hover:border-transparent rounded-full py-3 px-6">
                もっと見る
            </button>
        </div>
    </div>
</div>
<div class="">
        <p class="h-30"  >
            <span>
                <img class="w-full object-cover h-96" src="../static/images/pcgamingshop.png">
            </span>
        </p>
</div>

{% endblock %}
