{% extends "app/base.html" %}
{% load static %}
{% block content %}

<!-- <div class="absolute top-0 right-0 z-10"> -->
<div class="">
    <img class="w-full  object-cover" src="../static/images/topdesign.png"style="height:600px">
</div>
<!--  
<div class="z-0">
    <img class="" src="../static/images/Letsjumpin.png">
</div>
-->
<!--
<h1>
    <div class="">
        <title>製品一覧</title>
        <div class="flex ...">
            <div class="flex-1 ...">
                <img src="../static/images/alienware.png">
            </div>
            <div class="flex-1">
                <img src="../static/images/マウス.png">
            </div>
            <div class="flex-1 ...">
                <img src="../static/images/モニター.png">
            </div>
          </div>
    </div>
</h1>
<div class="">
        <p class="h-30"  >
            <span>
                <img src="../static/images/pcgamingshop.png">
            </span>
        </p>
</div>
-->
{% endblock %}
