{% extends "app/base.html" %}
{% load static %}
{% block content %}

<!-- <div class="absolute top-0 right-0 z-10"> -->
<div class="md:flex pt-20">
    <h1 class="col-start-1 row-start-1 text-9xl text-white py-20 transform rotate-90">
        Let's jump in
    </h1>
    
    <div class="">
        <img class="col-start-8 row-start-8" src="../static/images/topdesign.png"style="">
    </div>
    

</div>
<h1 class="text-9xl text-white py-20">
    Far beyond imagination.
</h1>



 <div class="grid grid-cols-1 sm:grid-cols-2 mx-12">
    <div class="col-start-1 row-start-1 flex sm:col-start-1 sm:row-span-1 ">
        <div class="col-span-2">
            <img class="relative" src="../static/images/index1.png"style="height:600px">
        </div>
    </div>
    <div class="relative z-10 col-start-2 row-start-1 px-4 pt-40 pb-3 bg-gradient-to-t from-black sm:bg-none">
        <p class="text-3xl  text-white border p-8"> 
            ゴーグル一つですべての夢が実現する。<br>食べたり眠ったりトイレに行く以外はすべてVRの世界で過ごす、そんな未来がすぐそこまで迫っている! <br>そして現実世界から仮想世界への移行はすでに始まっている。
        </p>
    </div>
    
    <div class="relative z-10 col-start-1 row-start-2 px-4 pt-40 pb-3 bg-gradient-to-t from-black sm:bg-none">
        <p class="text-3xl  text-white border p-8"> 
            仮想世界への興味を掻き立ててきたのがアニメや映画。<br>仮想空間へフルダイブする大人気アニメ「ソードアートオンライン」に始めり、映画「サマーウォーズ」。最新作「竜とそばかすの姫」では仮想世界が舞台になっている。<br>スティーブン・スピルバーグ監督作品「レディプレイヤー1」では世界中の人々がVRワールドオアシスに生きている。 
        </p>
    </div>
    <div class="col-start-1 row-start-2 flex sm:col-start-2 sm:row-span-3">
        <div class="col-span-2">
            <img class="" src="../static/images/index2.png"style="height:900px">
        </div>
    </div>    
 </div>


<div>
    <div class="m-14">
        <title>製品一覧</title>
        <div class="flex cursor-pointer">
            <div class="flex-1">
                <a href="https://pcgameingshop.myshopify.com/?key=6abdc476a99497082b1aae32a86b08214eb0df11b465b292043e8878835101b7">
                    <img class="cursor-pointer w-full object-cover h-96" src="{% static 'images/alienware.png' %}">
                </a>
                <ul class="text-white text-center text-2xl p-2">
                    <li class="p-2">ALIENWAREAURORA</li>
                    <li class="p-2">12ゲーミング</li>
                    <li class="p-2">デスクトップ</li>
                </ul>
            </div>
            <div class="flex-1">
                <a href="https://pcgameingshop.myshopify.com/?key=6abdc476a99497082b1aae32a86b08214eb0df11b465b292043e8878835101b7">
                    <img class="cursor-pointer w-full object-cover h-96" src="{% static 'images/マウス.png' %}">
                </a>
                <ul class="text-white text-center text-2xl p-2">
                    <li class="p-2">ALIENWAREAURORA</li>
                    <li class="p-2">12ゲーミング</li>
                    <li class="p-2">デスクトップ</li>
                </ul>
            </div>
            <div class="flex-1 ...">
                <a href="https://pcgameingshop.myshopify.com/?key=6abdc476a99497082b1aae32a86b08214eb0df11b465b292043e8878835101b7">
                    <img class="cursor-pointer w-full object-cover h-96" src="{% static 'images/モニター.png' %}">
                </a>
                <ul class="text-white text-center text-2xl p-2">
                    <li class="p-2">ALIENWAREAURORA</li>
                    <li class="p-2">12ゲーミング</li>
                    <li class="p-2">デスクトップ</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="text-center bg-white hover:bg-blue-500 text-black font-semibold hover:text-white py-2 px-4  m-8 border border-black hover:border-transparent rounded-full py-3 px-6">
        <button onclick="location.href='https://pcgameingshop.myshopify.com/?key=6abdc476a99497082b1aae32a86b08214eb0df11b465b292043e8878835101b7'">
            もっと見る
        </button>
    </div>
</div>


<div class=""  >
    <a href="https://pcgameingshop.myshopify.com/?key=6abdc476a99497082b1aae32a86b08214eb0df11b465b292043e8878835101b7">
        <img class="cursor-pointer w-full object-cover h-96" src="{% static 'images/fotter_pcgame.png' %}">
    </a>

</div>

{% endblock %}
