{% extends "app/base.html" %}
{% load static %}

{% block content %}


            <!-- <div class="p-16 col-start-1 col-end-2 text-3xl text-white top-1">
                <img class="" src="../../static/images/1.png" alt="" style='height:900px' />
            </div> -->
    
            <!-- <div class="col-start-3 col-end-4 absolute right-0">
                <img class="" src="../../static/images/1.png" alt="" style='height:900px' />
            </div> -->



    <!-- <div class="" style="height:600px">
        <div class="max-w-screeen-xl w-full h-full relative mx-auto">
            <div class="relative h-full" style="width:880px">
                <div class="inline-block" >
                    <img class="block right-1/4 absolute bg-no-repeat bg-cover h-full src="{% static 'images/INNOVATION.jpg' %}">
                </div>

                <div class="inline-block" >
                    <img class="inline-block right-1/4 absolute bg-no-repeat bg-cover h-full" src="../static/images/INNOVATION.jpg" style="">
                </div>
                <div class="inline-block">
                    <p class="absolute left-0 top-1/2 transform -translate-x-1/2 -translate-y-1/2 m-auto text-black ">INNOVATION</p>
                    <p class="absolute  m-auto text-black text-2xl"> VR Rev.はこれからの未来に革新的な体験をもたらすであろうVR・AI技術などについて最新の情報をお届けします。
                    <br>INNOVATIONの最先端を!!</p>
                </div>
            </div>
        </div>       
    </div> -->

            <!-- <div class="p-16 col-start-1 col-end-2 text-3xl text-white top-1">
                <img class="" src="../../static/images/1.png" alt="" style='height:900px' />
            </div> -->
    
            <!-- <div class="col-start-3 col-end-4 absolute right-0">
                <img class="" src="../../static/images/1.png" alt="" style='height:900px' />
            </div> -->

        <!-- <div class="p-16 col-start-1 col-end-2 text-3xl text-white top-1">
            <img class="" src="../../static/images/1.png" alt="" style='height:900px' />
        </div> -->

        <!-- <div class="col-start-3 col-end-4 absolute right-0">
            <img class="" src="../../static/images/1.png" alt="" style='height:900px' />
        </div> -->

        <!-- <div class="p-16 col-start-1 col-end-2 text-3xl text-white top-1">
            <img class="" src="../../static/images/1.png" alt="" style='height:900px' />
        </div> -->

        <!-- <div class="col-start-3 col-end-4 absolute right-0">
            <img class="" src="../../static/images/1.png" alt="" style='height:900px' />
        </div> -->

        <!-- <div class="p-16 col-start-1 col-end-2 text-3xl text-white top-1">
            <img class="" src="../../static/images/1.png" alt="" style='height:900px' />
        </div> -->

        <!-- <div class="col-start-3 col-end-4 absolute right-0">
            <img class="" src="../../static/images/1.png" alt="" style='height:900px' />
        </div> -->






















<!-- 
<div class="text-white text-center container  mx-auto text-5xl ">
    <h1 class="py-20">当社のビジョン</h1>
    <div class="">
        <span>
            <img class="w-full object-cover h-auto" src="../static/images/INNOVATION.jpg">
        </span>
        <p class="absolute  top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2  m-auto text-black">INNOVATION</p>
        <p class="absolute  top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2  m-auto text-black text-2xl"> VR Rev.はこれからの未来に革新的な体験をもたらすであろうVR・AI技術などについて最新の情報をお届けします。
        <br>INNOVATIONの最先端を!!</p>
    </div>
    </div>

    <h1 class="p-20">人生を変える瞬間を届ける</h1>
    <div class="relative">
        <span>
            <img class="w-full object-cover h-auto" src="../static/images/人生を変える瞬間を届ける.png">
        </span>
        <p class="absolute  top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2  m-auto text-black">Entire house</p>
    </div>

    <h1 class="p-20">見る感動</h1>
    <div class="">
        <span>
            <img class="w-full object-cover h-auto" src="../static/images/見る感動.png">
        </span>
    </div>

    <h1 class="p-20">学ぶ感動</h1>
    <div class="">
        <span>
            <img class="w-full object-cover h-auto" src="../static/images/学ぶ感動1.png">
        </span>
    </div>

    <h1 class="p-20">遊ぶ感動</h1>
    <div class="">
        <span>
            <img class="w-full object-cover h-auto" src="../static/images/asobukandou.png">
        </span>
    </div>
</div> -->

{% endblock %}