
<div>
    <div class="py-20 text-white text-center container  mx-auto text-5xl">当社のビジョン</div>
    <div>
        <img src="{% static 'images/experience.png' %}" alt="" class="bg-cover text-center" style='height: 800px;' />
    </div>

</div>




<div>
    <div class="py-20 text-white text-center container  mx-auto text-5xl">人生を変える瞬間を届ける</div>
    <div class="relative none clear-both block content">
        <div class="absolute top-0 left-1/2 w-2/6 h-auto bg-white">
            <h2 class="text-xl font-semibold text-white sm:text-2xl sm:leading-7 sm:text-black md:text-3xl">INNOVATION</h2>
            <p class="text-sm font-medium text-white sm:mb-1 sm:text-gray-500">VR Rev.はこれからの未来に革新的な体験をもたらすであろうVR・AI技術などについて最新の情報をお届けします。</p>            
        </div>
    
        <div class="absolute w-1/2 bg-white top-0 left-0">
            <img src="{% static 'images/INNOVATION.jpg' %}" alt="" class="" style='height: 800px;' />
        </div>
    
        <div class="absolute w-1/5 bg-white top-0 right-0">
            <img src="{% static 'images/INNOVATION.jpg' %}" alt="" class=""  style='height: 800px;' />
        </div>
    </div>
    
</div>

<div>
    <div class="py-20 text-white text-center container  mx-auto text-5xl">人生を変える瞬間を届ける</div>
    <div class="none clear-both ">
        <div class="top-0 left-1/2 w-2/6 h-auto bg-white">
            <h2 class="text-xl font-semibold text-white sm:text-2xl sm:leading-7 sm:text-black md:text-3xl">INNOVATION</h2>
            <p class="text-sm font-medium text-white sm:mb-1 sm:text-gray-500">VR Rev.はこれからの未来に革新的な体験をもたらすであろうVR・AI技術などについて最新の情報をお届けします。</p>            
        </div>
    
        <div class="w-1/2 bg-white top-0 left-0">
            <img src="{% static 'images/INNOVATION.jpg' %}" alt="" class="" style='height: 800px;' />
        </div>
    
        <div class="w-1/5 bg-white top-0 right-0">
            <img src="{% static 'images/INNOVATION.jpg' %}" alt="" class=""  style='height: 800px;' />
        </div>
    </div>
    
</div>