{% extends "app/base.html" %}

{% block content %}
<div class="bg-white container lg:max-w-5xl mx-auto text-xl m-4 p-4">
    <div class="py-4">
    <p class="date">[2021/6/26 制定]</p>
    <h3 class="m-2 text-3xl p-2">1.当社が収集する情報</h3>
    <p>当社のサービスを利用する際に、当社は貴方及び貴方が利用するサービスに関する特定の情報を収集します。当社が収集するその情報は3つの異なるカテゴリに分類されます。
        <br>（1）貴方が当社に提供する情報
        <br>（2）貴方が当社のサービスを利用するときに自動的に貴方から収集する情報
        <br>（3）他の情報源から当社が収集する情報</p>
    <h4 class="text-2xl p-4">貴方が当社に提供する情報</h4>
    <p>貴方が当社のサービスを利用するときに、当社は貴方が当社に提供する情報を収集します。当社の“サービス”を利用することの例としては、当社の店舗の一つにおいて購入すること、当社のウェブサイトの一つを閲覧すること、スターバックスアカウントを作ること、商品券を購入すること、アンケートやプロモーションに参加することが該当します。貴方はフランチャイズのスターバックス店舗の応募や運営に関連する情報についても当社に提供することができます。貴方が当社に提供する情報には、貴方の名前、苗字、ユーザーネーム、パスワード、メールアドレス、郵便番号、電話番号、クレジットカード番号のような金融口座情報、誕生日、出生地、人口統計情報、その他貴方が当社に提供すると選択した情報を含めることができます。</p>
    <h4 class="text-2xl p-4">貴方が当社のサービスを利用するときに、当社が収集する情報</h4>
    <p>貴方が当社のサービスを利用するときに、当社は貴方が利用するサービス及びそれらの利用方法に関する情報を収集することができます。この情報には次の情報を含みます。
        <br>購買に関する情報－当社は、商品の購入場所、商品の購入頻度、及び購入によって貴方が獲得した利益に関する情報を含む、貴方が購入する商品に関する情報を収集することができます。</p>
    <p>デバイスとウェブサイトの利用に関する情報－貴方が当社のモバイルアプリケーションをインストールするとき、又は当社のウェブサイト、販売商品、当社のオンライン上の所有物を経由してサービスにアクセスするためにコンピューター、タブレット、スマートフォン、その他デバイスを利用するときに、当社はデバイスとウェブサイトに関する情報を収集することができます。</p>
    <p>この情報はデバイス、貴方のオペレーションシステム、貴方のブラウザ（例えば、貴方がインターネットエクスプローラー、ファイヤーフォックス、サファリ、クローム、その他ブラウザを利用していたかどうか）、貴方のインターネットサービスプロバイダー、貴方のドメインネーム、貴方のインターネットプロトコル（IP）アドレス、貴方のデバイス識別子（又はUDID）、当社のサービスにアクセスした日時、当社のウェブサイトにアクセスするために貴方が参照したウェブサイト、貴方が要求したウェブページ、それら要求の日時、貴方がクリック又はスクロールした広告対象の種類を含むことができます。この情報を収集するため、当社はクッキー、ウェブビーコン、及びこれらに類似する技術を利用します。下記の“クッキー、ウェブビーコン、類似する技術”と題するセクションをご確認ください。</p>
    <p>位置情報－貴方が当社のサービスにアクセスするためにスマートフォン又は他のモバイルデバイスを利用するとき、当社のウェブサイトにアクセスするためにコンピューターを利用するとき、又は当社のモバイルアプリケーション内、WEB版 Mobile Order &amp; Payにある店舗検索サービスを利用するときは、当社は貴方の物理的位置情報を収集することができます。</p>
    <p>当社は、貴方の近くの店舗に関する情報を提供したり、貴方のモバイルデバイス上で他のサービスを提供するために、他の位置（貴方のIPアドレスと請求書情報又は郵便番号のような情報に基づく情報）にこの情報を組み合わせることができます。当社は、貴方の位置情報について、貴方にサービスを提供することを支援する企業やどのようにサービスが利用されているか把握することを支援する企業とのみ共有します。貴方がこの位置情報の収集についてオプトアウトを希望する場合には、下記の“貴方の選択”と題するセクションをご確認ください。</p>
    <p>店内カメラの情報－当社は、店内において従業員と貴方の安全を維持し、当社のカスタマーエクスペリエンスを向上する方法を見つけ出すために、店内カメラを利用します。当社はセキュリティ目的の必要性があるときを除きこれらのカメラを個人を特定するために利用しません。</p>
    <h4 class="text-2xl p-4">貴方が当社のサービスを利用するときに、当社が収集する情報</h4>
    <p>当社は、公的に入手可能な情報についても収集します。例えば、当社は貴方がブログ、チャットルーム、フェイスブック、ツイッター、グーグルプラスのようなソーシャルネットワークに投稿した情報を収集することができます。当社は他の会社や組織から貴方に関する情報を収集することもできます。貴方に関する追加情報を蓄積させることにより、当社は不正確な情報を訂正し、貴方に対して貴方がより興味があると思われる商品提案や特別なオファーを提供することができます。</p>
    <h3 class="text-3xl>2.当社が収集する情報を当社が利用する方法</h3>
        <p>当社は、貴方について当社が収集する情報を次に掲げる方法を含む様々な方法で利用することができます。</p>
        <ul class="">
            <li>商品やサービスのご購入を処理するため商品やサービスのご購入を処理するため</li>
            <li>貴方のカスタマーサービスに関する質問や要求に返信するため</li>
            <li>当社のウェブサイト上に貴方のコメントや意見を掲載するため</li>
            <li>個別のプロモーションや特別なオファーを貴方に送付するため</li>
            <li>当社のブランド、商品、イベント、その他プロモーションに関して貴方にお知らせするため</li>
            <li>当社が提供するサイト、商品、サービスを維持し、向上させるため</li>
            <li>セキュリティ違反や不法行為を検出し、防止し、又は調査するため</li>
            <li>社内事務上の目的にて適切な記録を維持するため</li>
            <li>フランチャイズの機会について評価し貴方と連絡をとるため</li>
        </ul>
    <h3 class="m-2 text-3xl p-2">3.当社が収集する情報を当社が共有する方法</h3>
    <p>当社は、下記状況において貴方の情報を共有することができます。</p>
    <p>連携して業務を行なうとき－当社は、フランチャイズ、提供している当社の商品とサービスの拡張及び販促、注文や顧客要求の実現に関する判断を含む、適切な管理及び分析並びに意思決定をするため、並びにこのステートメントで説明する他の目的でスターバックス コーヒー ジャパン 株式会社、スターバックスコーポレーション、それぞれの子会社、関連会社が利用するために、これら企業との間で収集した情報を共有することができます。</p>
    <p>サービスプロバイダーと連携して業務を行なうとき－当社は、クレジットカード処理、ウェブサイトの保守、メール配信、ロケーションマッピング、郵便処理及び配送、並びに分析サービスのようなサポート業務を当社に提供するサービスプロバイダーとの間で貴方の情報を共有することができます。当社は、これらの企業に対して、当社のために業務遂行するとき、又は法令により貴方の情報を開示することを要求されたときを除き、貴方の情報を収集し、利用し、開示することを控えるように要求します。</p>
    <p>事業譲渡等に取り組むとき－合併又は事業資産の全部若しくは一部の譲渡を伴う別の状況に関わることになった場合には、当社は貴方の情報をその交渉又は譲渡に関係する事業者又は個人に貴方の情報を共有することができます。</p>
    <p>共有することが法的利益の保護に役立つとき－開示することが法の要請であると判断する場合、開示することが当社の契約やポリシーを実行するために必要であると判断する場合、又は開示することがスターバックス、貴方、パートナー（従業員）の権利や財産、安全の保護に役立つと判断する場合には、当社は貴方の情報を開示することができます。</p>
    <p>マーケティング目的で他の企業と共有するとき－当社は販促や特別なオファーを貴方に提供するために貴方の情報を利用するサービスプロバイダーと貴方の情報を共有することができます。当社は貴方の当社のウェブサイトやサービス利用に関する匿名の集約された統計を他の企業と共有することもできます。</p>
    <p>貴方が同意するとき－貴方が貴方に関する情報を共有することについて当社に許可又は指示を与える場合には、当社はその情報を他の企業に対して共有することができます。</p>
    <p>情報が貴方を識別しないとき－当社は貴方を直接的に識別しない方法によって貴方の情報を共有することができます。例えば、当社は貴方に関する情報を他の個人に関する情報と組み合わせ、貴方の情報を貴方と結び付けない方法にて当該組み合わせた情報を共有することができます。</p>
    <p>貴方が当社のウェブサイトに投稿するとき－貴方がブログや当社のウェブサイトの他の部分に情報を投稿する場合には、貴方が投稿した情報及び貴方のユーザーネームを含む貴方が投稿した情報は当社のウェブサイトの他の閲覧者に見られる場合があります。</p>
    <h3 class="m-2 text-3xl p-2">4.第三者が貴方の情報を収集することを許可する方法</h3>
    <p>貴方が当社のウェブサイトや他のサービスを利用するとき、当社は第三者が有するクッキー、ウェブビーコン、及びこれらに類似する技術を設置することにより、当該第三者に貴方の情報を収集することを許可することができます。下記の"クッキー、ウェブビーコン、類似する技術"と題するセクションをご確認ください。第三者によって収集された情報はデバイス、貴方のインターネットプロトコル（IP）アドレス、当社のサービスにアクセスした日時、当社のウェブサイトにアクセスするために貴方が参照したウェブサイト、貴方が要求したウェブページ、それら要求の日時、貴方がクリック又はスクロールした広告の種類を含むことができます。</p>
    <p>当社は、第三者に、下記目的において当社のウェブサイト上で貴方の情報を収集することを許可します。</p>
    <p>商品又はサービスの広告を表示するため－当社は、当社のウェブサイト上に貴方に最も適切な広告を表示する目的で、広告会社に対して、情報を収集することを許可します。各市場セグメントに適切と考えられるほかのウェブサイトに広告を表示するために市場セグメントに分類することを目的として、これらの第三者は当社のウェブサイトへの閲覧者に関する匿名情報を収集することもできます。これは、"オンライン行動広告"として知られています。これらターゲットディスプレイ広告のオプトアウト、ならびにクッキー、ウェブビーコン、及びこれらに類似する技術の制御に関するより詳細な情報については、下記の"貴方の選択"と題するセクションをご確認ください。</p>
    <p>当社のウェブサイトやサービスの利用方法に関する情報を収集するため－当社は、当社の顧客に関することや人々が当社のウェブサイトを利用する方法について把握する目的で、当社を支援する特定のサービスプロバイダーに対して、当社のウェブサイトやサービスで収集した情報を利用することを許可します。この目的でこの情報を利用する会社は、この情報から個々のユーザーを特定しません。つまり、ウェブサイトの利用や行動について第三者により収集された統計情報は、貴方を特定したり、貴方に結び付くことはありません。</p>
    <p>当社のウェブサイト上で他の会社のサービスを作動させるため－当社は、当社のウェブサイトの特定の部分を作動させる目的で、企業に対して、特別な技術を利用することを許可します。例えば、当社は、Adobeに対して、Adobe Flash Player用のビデオコンテンツを配信するために必要な特別なクッキーを配置し有効にすることを許可します。これらのクッキーはFlashクッキーといいます。</p>
    <p>当社のウェブサイトでの貴方の行動を貴方のソーシャルネットワークと結び付けるため－当社は、フェイスブック、ツイッター、グーグルプラスなどのソーシャルネットワークに、彼らの会員の行動をトラッキングしたり、ウェブサイト閲覧者に関する特定の情報を収集することを許可する機能を当社のウェブサイトに追加しました。これらの機能は、プラグインやウィジェットと呼ばれる技術を含みます。プラグインは、二つのウェブサイト間を繋げるダイレクトリンクを作成し、ウィジェットは、他の会社のサービスを当社のウェブサイトに提供するインタラクティブなミニプログラムです。ソーシャルネットワークが貴方の行動をトラッキングする方法について懸念がある場合には、そのソーシャルネットワークに連絡するか、そのソーシャルネットワークのプライバシーポリシーを参照してください。例えば、フェイスブックのデータ利用のポリシーは<a href="https://www.facebook.com/about/privacy/" target="_blank">コチラ</a>で参照することができます。</p>
    <h3 class="m-2 text-3xl p-2">5.クッキー、ウェブビーコン、類似する技術</h3>
    <p>当社は、他の会社とともに、貴方のデバイス及び当社のサービスの利用に関する情報を収集するために様々な技術を利用することができます。これらの技術には、クッキー及びウェブビーコンを含みます。</p>
    <p>クッキー－クッキーは、貴方が閲覧している間だけ（セッション・クッキー）、又は、一定の期間（パーシステント・クッキー）、ウェブサイトのサーバーから送付され、貴方のデバイスのハードドライブに蓄積される小さなデータファイルです。クッキーは、後でウェブサーバーで読み取ることができる情報を含みます。ほとんどのウェブブラウザは、自動的にクッキーを受け入れますが、貴方は、クッキーを受け入れる又はクッキーを完全に拒否するかの選択肢が与えられているため、ブラウザの設定を変更することができます。貴方のブラウザの設定変更に関するより詳細な情報は、下記の"貴方の選択"と題するセクションをご確認ください。</p>
    <p>当社は、主に下記目的においてクッキーを利用します。</p>
    <p>ウェブサイトの機能－一部のクッキー（ストリクトリィ・ネセサリ・クッキー）は、貴方が当社のウェブサイトにアクセスし利用するために必要です。これらのクッキーがなければ、当社のウェブサイトは適切に作動しません。</p>
    <p>パフォーマンスの監視－一部のクッキー（パフォーマンス・クッキー）は、当社のウェブサイトの混雑状況を分析し、評価することに役立ちます。このクッキーは、当社に対して、どれくらいの閲覧者が当社のウェブサイトと交信したのか、エラーが発生しているかどうか、どのページがしばしば動かないのか、どのページが読み込みに時間がかかるのか、どのページを利用者が閲覧する傾向にあるのか、どのような順序なのかを示します。これらのクッキーは貴方を特定することができるどのような情報も収集せず、当社のウェブサイトの動作方法を向上させ利用者の興味を理解することを支援するためにのみ利用されます。</p>
    <p>利用者の利便性－一部のクッキー（ファンクショナリティ・クッキー）は、特定のウェブサイトを閲覧し、又は利用するたびに情報を入力する手間を省略するために、情報を記録します。例えば、クッキーは、貴方のアカウントにログインする時間を省略するために、貴方のユーザーネームを記録します。</p>
    <p>マーケティング－一部のクッキー（ターゲティング・クッキー又はアドバタイジング・クッキー）は、貴方が当社のウェブサイトを閲覧し又は利用するときに現れるプロモーション、広告、その他マーケティングメッセージを操作することにより貴方のエクスペリエンスを調整するため、並びに貴方がどのサービスを利用しているのか、及びどのように当社の情報にアクセスしているかを当社が把握することに役立てるために利用されます。当社は、ウェブサイトへの閲覧をカスタマイズしたり、関連するプロモーションを送付するためにこの情報を利用することができます。</p>
    <p>ウェブビーコン－ウェブビーコンは、クリアgif、シングルピクセルgif、ページタグ、ウェブバグと時々呼ばれ、ウェブページ、アプリケーション、メールに埋め込まれている小さな透明の画像です。当社は、貴方が閲覧したウェブページをトラッキングし、当社のマーケティングの有効性をテストし、メールが開封され、実行されたかを調査するために、ウェブビーコンを利用します。</p>
    <h3 class="m-2 text-3xl p-2">6．貴方の選択</h3>
    <p>プロモーション情報に関する選択</p>
    <p>貴方は、スターバックスアカウントにサインインするときに貴方の設定を当社にお知らせする、貴方のアカウントのプロフィール管理画面でオンラインプロモーションの設定を修正する、若しくは貴方の携帯端末の設定でテキストと通知設定を調整することにより、又は当社が送付するプロモーションメールのオプトアウトの指示に従うことにより、プロモーションのメール、テキストメッセージ、電話、郵便物を受信することについて、オプトアウトすることができます。</p>
    <p>又は、これらプロモーション情報の一部又は全部を受信することを希望しないことを、下記のお問合せ先に電話することで、お知らせすることもできます。</p>
    <p>【お問い合わせ先】
        <br>個人情報の問い合わせ窓口
        <br>電話番号：03-5745-5511
        <br>受付時間：10:00～18:00（土日祝祭日及び年末年始は除く）</p>
    <p>当社からのプロモーション通知の受信をオプトアウトしても、当社は、貴方のアカウント、購入、又はフランチャイズの申し込みに関するメールを含む、プロモーション以外の情報を送ることができることについてはご留意ください。</p>
    <h4>情報収集に関する選択</h4>
    <p>貴方は、当社が貴方に関して収集する情報を選択することもできます。</p>
    <p>位置情報－貴方が当社のサービスにアクセスするためにスマートフォン又は他のモバイルデバイスを利用するとき、モバイルアプリケーション用、WEB版 Mobile Order &amp; Payの位置サービスが利用可能なとき、又は、モバイルデバイスの権限がこの情報の通信を許可するときに限り、当社は貴方の物理的位置情報を収集することができます。貴方が当社に位置情報を収集してほしくない場合には、貴方は、関連する設定及び貴方のモバイルデバイスの権限を変更することで、この情報を共有することについてオプトアウトすることができます。</p>
    <p>クッキー－クッキーを拒否したい場合には、貴方はブラウザの適切な設定を選択するための措置をとらなければなりません。各ブラウザのクッキー制御は少し異なりますが、最も一般的なブラウザ（インターネットエクスプローラー、クローム、ファイヤーフォックス、サファリ）では、ブラウザが貴方に通知することを選択できる設定やオプションがあり、典型的にはあるサイトがクッキーを設定することを希望し、又はクッキーが設定される前にクッキーを受け入れるか拒否するかの選択を常に提供します。貴方が、クッキーを取り除く又は拒否することを選択する場合には、当社のウェブサイト上の多くの機能やサービスに影響を与えます。貴方がクッキーの設定を変更するための正しい方法を知りたい場合には、貴方のブラウザのヘルプメニューを利用してください。クッキーの断り方を含むクッキーに関する追加情報については、<a href="http://www.allaboutcookies.org" target="_blank">コチラ</a>を閲覧してください。</p>
    <p>Flashクッキー－当社は、Adobeに対して、Adobe Flash Player用のビデオコンテンツを配信するために必要な特別なクッキーを配置し有効にすることを許可します。貴方は、貴方のブラウザの設定を単に変更するだけではFlashクッキーを取り除くことはできません。貴方が貴方のデバイス上のFlashクッキーに情報を蓄積することができるウェブサイトを制限したい場合には、貴方は、<a href="http://www.macromedia.com/support/documentation/en/flashplayer/help/settings_manager07.html" target="_blank">Adobeのウェブサイト</a>を閲覧する必要があります。</p>
    <p>トラッキング拒否の技術－最新のウェブブラウザの一部は、行動をトラッキングされたくないことを示す情報を持って閲覧したウェブサイトのヘッダーにトラッキング拒否を発信するトラッキング拒否設定があります。当社は、現在、トラッキング拒否の信号を発信するブラウザに対応していません。</p>
    <h3 class="m-2 text-3xl p-2">7.貴方の情報へのアクセス又は変更、貴方のアカウントの削除</h3>
    <p>貴方の情報へのアクセス又は変更、貴方のアカウントの削除については、別途定める<a href="/about_us/policy/protect.html">「個人情報の保護に関する法律」による公表事項について</a>をご確認ください。</p>
    <h3> class="m-2 text-3xl p-2"8.貴方の情報の保護方法</h3>
    <p>スターバックスは、個人情報の保護に関する法律に従った、貴方の情報の紛失、悪用、不正アクセス、開示、変更するリスクを減少させるための技術的、物理的、管理的なセキュリティ基準を用いて、貴方の情報を保護します。当社の安全措置の一部は、ファイアーウォール、データ暗号化、物理的なアクセス制御、管理的情報統制を含みます。貴方が高度な機微情報（例えばクレジットカード番号など）を、当社のウェブサイトを通じ、又は当社のモバイルアプリケーションの一つに送信するときに、当社はその情報送信をSSLプロトコルを利用して暗号化します。当社は、貴方の個人情報保護に役立つセキュリティ技術及び手続きを採用してはいるものの、100％の安全を保証することができるシステムやネットワークはありません。</p>
    <h3 class="m-2 text-3xl p-2">9.貴方の情報の保存及び処理</h3>
    <p>貴方が当社に提供する情報は、スターバックス及びアメリカ合衆国と日本の他の会社が所有するサーバー上で保管され処理されます。貴方の情報を処理する国又は人、処理の実施場所に関わらず、当社は、適用される情報保護法令及びこのステートメントに従って貴方の情報を保護する対策を講じます。</p>
    <h3>10.このステートメントの改定</h3>
    <p>このステートメントは、このウェブページ上部に記された日付をもって発行されています。当社は、時々このステートメントを改定することができます。当社が重大な変更をする場合には、当社はこのページ上に改定したステートメントを公表し、このウェブサイト上部の日付を変更します。当社は、貴方がこのウェブページを閲覧する度にこの日付を確認し、このステートメントへの改定及び変更を確認することを勧めます。当社は、当社が貴方の個人情報利用又は開示する方法に著しく影響を与える可能性のあるこのステートメントの変更に関しては、変更の効力発生日に先立ち、このサイト上で貴方にお知らせします。</p>
    <h3>11.連絡先</h3>
    <p>当社は、プライバシーに関する貴方の質問、意見、及び懸念を受け付けます。貴方は、下記のお問合せ先に連絡することができます。</p>
    <p style="margin-bottom:0;">【保有個人データに関するお問合せ先】</p>
    <ul class="innerList">
    <li>（1）お電話による場合
        <br>スターバックス コーヒー ジャパン 株式会社
        <br>個人情報お問い合わせ窓口
        <br>03-5745-5511
        <br>（受付時間：10:00～18:00 土日祝祭日及び年末年始は除く）
    </li>
    <br>個人情報お問い合わせ窓口
    <br>なお、直接のご来社、電子メール等、上記以外の方法によるお申し出はお受け致しかねますので、ご了承下さい。
    </li>
    </ul>
</div>

{% endblock %}